#

deb [ arch=amd64 ] http://{{ MIRROR_HOSTS }}/ubuntu {{ distro_nickname }} main restricted universe
deb [ arch=amd64 ] http://{{ MIRROR_HOSTS }}/ubuntu {{ distro_nickname }}-updates main restricted universe
deb [ arch=amd64 ] http://{{ MIRROR_HOSTS }}/security {{ distro_nickname }}-security main restricted universe multiverse
